{% extends "logged_in.html" %}

{% block main %}
<main>
    <div class="container">
      <div class="card start-hero">
        <p class="text-body-2 start-hero-intro">
          Woohoo!
        </p>
        <p class="text-display-2">
          Your authentication is all sorted.<br>Build the important stuff.
        </p>
      </div>
      <div class="center">
        <a class="btn btn-primary m-1" href="{{ url_for('get_details') }}">User details</a>
        <a class="btn btn-primary m-1" href="{{ url_for('get_helper_functions') }}">Helper functions</a>
      </div>
      <section class="next-steps-section">
        <h2 class="text-heading-1">
          Next steps for you
        </h2>
      </section>
    </div>
</main>
{% endblock %}
